body {
	width: 80%;
	background: #C2DCD0;
	margin: 10px auto;
}
header {
	position: relative;
}
.search {
	position: absolute;
	top: 10px;
	right: 10px;
}
.holder {
	margin: 20px 0;
	text-decoration: underline;
	font-weight: bold;
}
.photo {
	width: 50%;
	border: 2px solid #567D45;
	margin: 10px auto;
}
.photo img {
	max-width: 100%;
	display: block;
}
footer {
	width: 100%;
	padding: 10px 0;
	background: #EDF5CB;
	border: 1px solid #888;
}
footer ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
footer ul li a {
	text-decoration: none;
	color: #666666;
	line-height: 1.7;
}
footer ul li a:hover {
	border-bottom: 1px solid #777;
}
.btn {
	padding: 5px 8px;
	background: #EDF5CB;
	border-radius: 8px;
	color: #666666;
	text-decoration: none;
}
.btn:hover {
	border: 1px solid #3A573C;
}